{% extends 'base.html.twig' %}

{% block body %}
    <h1>Espace joueur: {{ app.user.username }}</h1>


    <ul>
        <li><a href="{{ path('joueur_parties') }}">Mes parties</a></li>
        <li><a href="{{ path('joueur_parties_add') }}">Nouvelle Partie</a></li>
    </ul>

    <ul>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Editer le profil</a>
        </li>
    </ul>
{% endblock %}